<div class="top">

    <div class="searchProductDiv">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Search Product By Name</mat-label>
                <input type="text" matInput [(ngModel)]="productToFind"> <br>
            </mat-form-field>

            <button mat-raised-button (click)="findProductByName()"
                [disabled]="!productToFind || productToFind.length<3">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <div class="secondHeader">Hello, {{loginData.fName}}</div>
    </div>

</div>

<div class="layoutMain" fxLayout="row wrap" fxLayoutGap="2px grid" fxLayoutAlign="end">
    <div class="showCart" [ngClass]="{'hideCart' : !showCart}"
        [ngClass.sm]="{'cartSmallScreen' : showCart, 'hideCart' : !showCart}"
        [ngClass.xs]="{'cartSmallScreen' : showCart, 'hideCart' : !showCart}">
        <app-cart></app-cart>
    </div>

    <div id="showHideController" fxLayout="row wrap" fxLayoutGap="2px grid" fxLayoutAlign="center">
        <div id="showCartAgain" *ngIf="!showCart" (click)="showOrHideCart()">
            <mat-icon>shopping_cart</mat-icon> View Cart
        </div>
        <div id="minimizeCart" *ngIf="showCart" (click)="showOrHideCart()" [ngClass.sm]="'minimizeCartSmall'"
            [ngClass.xs]="'minimizeCartSmall'">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>

    <div class="cartIsShown" [ngClass]="{'cartIsNotShown' : !showCart}" [ngClass.sm]="'mainDivSmallScreen'"
        [ngClass.xs]="'mainDivSmallScreen'">
        <div class="categoriesListMenu" [ngClass.md]="'hideMainMenu'" [ngClass.sm]="'hideMainMenu'" [ngClass.xs]="'hideMainMenu'">
            <mat-button-toggle-group>
                <mat-button-toggle id="0" routerLink="/main/products/all">All</mat-button-toggle>
                <mat-button-toggle *ngFor="let category of categories" id={{category.categoryId}}
                    routerLink="/main/products/{{category.categoryId}}">
                    {{category.categoryName}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *ngIf="error" class="errorClass">
            <div *ngIf="error?.status!==0">Error: {{error.error.message}}</div>
            <div *ngIf="error?.status===0">Unknown error, please try again later.</div>
        </div>
        <router-outlet></router-outlet>
    </div>

    <div class="smallScreenMenu" 
        [ngClass.md]="{'showSmallScreenMenu' : showSmallScreenMenu}" 
        [ngClass.sm]="{'showSmallScreenMenu' : showSmallScreenMenu}"
        [ngClass.xs]="{'showSmallScreenMenu' : showSmallScreenMenu}">
        <div id="closeMenuX" (click)="showOrHideSmallMenu()">X</div>
        <div class="smallScreenMenuItem"><span routerLink="/main/products/all">All</span></div>
        <div class="smallScreenMenuItem" *ngFor="let category of categories"><span
                routerLink="/main/products/{{category.categoryId}}">{{category.categoryName}}</span></div>
        <div id="closeMenu"><span (click)="showOrHideSmallMenu()">Close</span></div>
    </div>

    <div class="smallScreenOpenMenuBtn" 
        [ngClass.md]="{'showSmallScreenMenuBtn' : !showSmallScreenMenu}" 
        [ngClass.sm]="{'showSmallScreenMenuBtn' : !showSmallScreenMenu}"
        [ngClass.xs]="{'showSmallScreenMenuBtn' : !showSmallScreenMenu}">
        <mat-icon (click)="showOrHideSmallMenu()">menu</mat-icon>
    </div>

</div>