body {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: lightcyan;
    padding: 2em;
}

.top {
    position: sticky;
    top: 6em;
    z-index: 1;
    background-color: lightcyan;
}

mat-form-field {
    padding: 1em 1em 0 0;
}

.icon:hover {
    cursor: pointer;
    box-shadow: 2px 1px 7px 0 rgba(0, 0, 0, 0.12);
}

form {
    padding: 15px;
}

::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: blue; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darkblue; 
  }

  mat-dialog-actions {
    justify-content: center;
  }

  .errorClass {
      color: red;
      font-weight: bold;
  }