<div id="cartHeader">Shopping Cart</div>
<div *ngIf="error" class="errorClass">
    <div *ngIf="error?.status!==0">{{error.error.message}}</div>
    <div *ngIf="error?.status===0">Unknown error, please try again later.</div>
</div>
<div id="cartItemsList" [ngClass.sm]="'cartItemsListSmall'" [ngClass.xs]="'cartItemsListSmall'">
    <button mat-raised-button *ngIf="!activeCartId && error?.status!==0" (click)="addCart()">New Cart</button>
    <div *ngIf="cartItems?.length>0">
        <div *ngFor="let item of cartItems">
            <mat-card class="cartItemCard">
                <div><img [src]="imageUrl + item.image" /></div>
                <div><span class="productNameDiv">{{item.productName}}</span>
                    <br>{{item.quantity}} Unit<span *ngIf="item.quantity>1">s</span>
                </div>
                <div>
                    <div>${{item.totalPrice | number : '1.2'}}</div>
                </div>
                <div>
                    <mat-icon (click)="removeItemFromCart(item.cartItemId)" class="icon">
                        delete_forever
                    </mat-icon>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="cartItems?.length===0" class="errorClass">Your cart is empty!</div>
</div>

<div class="cartTotalAndCTA">
    <div id="total">${{totalCartAmount | number : '1.2'}}</div>
    <div><button mat-raised-button [disabled]="amountOfItemsInCart === 0" (click)="emptyCart()">Clear<mat-icon>remove_shopping_cart</mat-icon></button> </div>
    <div><button mat-raised-button [disabled]="amountOfItemsInCart === 0" (click)="placeOrder()">Pay <mat-icon>credit_card</mat-icon></button></div>
    <div id="amountOfItemsInCart">
        <mat-icon>shopping_cart</mat-icon>{{amountOfItemsInCart}}
    </div>
</div>